# TELEGRAM
BOT_TOKEN=
BOT_USERNAME=
CHAT_ID=
FIRST_ID=
SECOND_ID=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
PGDATA=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# VPS 
VPS_HOST=
SSH_USER=
SSH_PASSWORD=

# PROXIES
IP_ADDRESS=
PORT=
USERNAME=